<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Es año nuevo?</title>
    <style media="screen">
      body{
        text-align: center;
      }
    </style>
  </head>
  <body>
    <!--Esta condicional de jinja2 está evaluando si la variable recibida
  desde application.py es TRUE, si lo es monstrará lo que sea que este entre <h1></h1> -->
    {% if new_year %}
    <h1>Si! Feliz año nuevo!</h1>
    {% else %}
    <h1>No! Aún no es año nuevo!</h1>
    {% endif %}
    <!-- JINJA2 permite usar propiedades de programacion en html pero debe
    tener variables para usar, como son las que vienen desde python, application.py-->
  </body>
</html>
