body{
    background-color: cadetblue;
    text-align: center;
    background-image: url('/static/img/solar.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.mt-n1 {
    margin-top: -0.25rem !important;
  }
